<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </a>
  <div class='logo-site-description'>
    {{- .Site.Params.description | safeHTML }}
  </div>
</div>

<div class="logo-social">
  {{- range $name, $path := .Site.Params.social }}
    {{- if $path }}
      {{- $iconName := slicestr $name 6 }}
      {{- $iconClass := slicestr $name 2 5}}
      <a href="{{ $path | safeURL }}" class="{{ $iconClass }} fa-{{ $iconName }}" title="{{ $iconName }}"></a>
    {{- end }}
  {{- end }}
  <a href="{{ .Site.RSSLink }}" type="application/rss+xml" class="fas fa-rss" title="rss"></a>
</div>