// ==============================
// Logo
// =============================

.logo-social {
  font-size: $logo-font-size * 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: $dark-gray;
    vertical-align: bottom;
    padding: 4px;
  }
}

.logo-wrapper {
  flex-grow: 1;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }
}

.logo-site-description {
  color: $dark-gray;
  font-size: 20px;
  a {
    color: $dark-gray;
    padding-bottom: 2px;
    border-bottom: 1px solid $gray;
  }
}

@include max-screen() {
  .logo-wrapper {
    // display: none;
    .logo {
      font-size: 22px;
    }
  }

  .logo-site-description {
    font-size: 14px;
  }

  .logo-social {
    flex-direction: row;
    font-size: 20px;
    align-items: baseline;
  }
}
